html {
  font-family: var(--fonts-font-family-default);
}

/* TODO убрать после адаптива */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* :root,
[data-theme="light"] { */
/* Light theme */
/* --text-color: red;
} */

/* [data-theme="dark"] { */
/* Dark theme */
/* --text-color: blue;
} */
